.header {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: rgb(158, 23, 221)
    url("https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/o-saas/a97371da-o-saas-heroshot_10000000lh1fi0ot000028.png")
    0 30px / cover no-repeat;
}

.header__container {
  position: absolute;
  top: 25vh;
  margin-left: 10vw;
  width: 35vw;
  color: #fff;
  letter-spacing: 1px;
}

.header__tagline {
  font-size: 3em;
  padding: 5px 5px;
}

.header__description {
  font-size: 1em;
  margin-top: 1.2em;
  line-height: 1.3em;
}

.header__image {
  position: absolute;
  top: 20vh;
  right: 5vw;
  width: 460px;
  height: 360px;
}

.header__img {
  height: 100%;
  width: 100%;
}

@media (max-width: 960px) {
  .header__container {
    position: relative;
    width: 85vw;
    margin: auto;
    left: 0;
    right: 0;
    top: 15vh;
  }
  .header__tagline {
    font-size: 2.5em;
  }
  .header__image {
    position: relative;
    width: 85vw;
    height: 340px;
    margin: 1.5em auto 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 760px) {
  .header__container {
    width: 85vw;
  }
  .header__tagline {
    font-size: 2em;
  }
  .header__description {
    font-size: 0.8em;
  }
}

@media (max-width: 420px) {
  .header__image {
    margin-top: 0em;
    height: 280px;
  }
}
