.about {
  max-width: 950px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 10px;
  top: -70px;
  position: relative;
  color: darkblue;
}

.about__title {
  width: 320px;
  font-size: 1.5em;
}

.about__description {
  width: 450px;
  font-size: 1em;
}

.intro {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9bCJh250pmuy8wYv9BP9VmVu5MEUpgUU5zAD5Nr1-i7zRvRYw3A_ZznEBVzfT7oWJSnY&usqp=CAU")
    0 / cover;
  height: 400px;
  display: flex;
}

.intro__container {
  margin: auto;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: darkblue;
}

.play-btn {
  height: 7em;
  width: 7em;
  border: none;
  margin-bottom: 2em;
  border-radius: 50%;
  background: darkblue;
}

.play-btn__svg {
  transition: 1s;
  opacity: 0.5;
  fill: rgb(0, 183, 283);
}

path.play-btn__svg {
  fill: darkblue;
}

.play-btn__desc {
  letter-spacing: 3px;
  font-size: 0.8em;
  margin-bottom: 3em;
}

.intro__title {
  margin-bottom: 0.7em;
  font-size: 2.5em;
}

@media (max-width: 960px) {
  .about {
    top: 0;
    margin: 5em auto 3em;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .about__description {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

@media (max-width: 660px) {
  .intro__description {
    margin: auto 1.2em;
  }
}

@media (max-width: 510px) {
  .about {
    max-width: 360px;
  }

  .about__title {
    width: fit-content;
  }

  .about__description {
    max-width: 280px;
    width: fit-content;
  }
}

@media (max-width: 510px) {
  .intro__title {
    font-size: 1.8em;
    margin: auto 0.7em 0.7em;
  }
  .intro__description {
      font-size: 0.9em;
  }
}
