.stats {
  margin: 2.5em 1.5em;
  color: darkblue;
}
.stats__title {
  font-size: 1.8em;
  text-align: center;
}
.stats__description {
  text-align: center;
  max-width: 920px;
  margin: 1.5em auto 0;
}
.stats__featureList .feature {
  box-shadow: unset;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .stats__featureList .feature {
    display: block;
    padding: 0.5em;
  }
  .stats__featureList .feature__icon,
  .stats__featureList .feature__title {
    display: inline-block;
    margin: 0;
  }
  .stats__featureList .feature__icon {
    position: relative;
    top: 1.5em;
  }
  .stats__featureList .feature__title {
    margin: 0 1em 2em;
  }
  .stats__featureList .feature__description {
    max-width: 360px;
    margin: auto;
  }
}
