.faq__container {
  background-color: #eaeef9;
  font-family: "Raleway", sans-serif;
  color: #252e39;
}

.faq__heading {
  padding: 1em 0 0;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 3px;
}

.faqs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;
  margin: auto;
}

.faq {
  height: fit-content;
  width: 25em;
  padding: 1em;
  margin: 1em;
}

.faq__title {
  font-size: 1.4em;
  margin-bottom: 0.7em;
}

.faq__desc {
  font-size: 1.2em;
}

.faq__image__container {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}

.faq__image {
  max-height: 15em;
  max-width: 15em;
  padding: 0 1em 1em;
}

@media (min-width: 375px) {
  .faq__image {
    max-height: 18em;
    max-width: 18em;
  }
}

@media (min-width: 768px) {
  .faq__image {
    max-height: 25em;
    max-width: 25em;
    padding: 1em 2em;
  }
}
