.testimonail > h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #292f45;
  padding-top: 50px;
  font-size: 45px;
}
.testimonail > p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #292f45;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 25px;
}
.testimonial__container {
  max-width: 60%;
}
.testimonial__container > h2 {
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
.testimonial__container > p {
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
.testimonial__container > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 10px;
  object-fit: contain;
}
.testimonial__container > .MuiSvgIcon-root {
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
