.hero__container{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  
}
.hero__container{
  background-color:white;
  height: 80vh;
}
.hero__text{
  padding:60px;
}
.hero__text > h1 {
  padding-bottom: 30px;
  font-size: 50px;
  color: #252e39;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.hero__text > h1 > span {
  color: #ea2329;
}
.hero__text > h3 {
  font-size: 20px;
  font-weight: 100;
  color: #252e39;
  font-family: "Raleway", sans-serif;
}
.hero__image > img {
  padding: 30px;
  height: 50vh;
  width: 30vw;
  object-fit: cover;
}
.hero__button{
  margin-top: 50px;
}
.hero__joinUs {
  text-decoration: none;
}
.hero__joinUs > button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #252e39;
  color: white ;
  font-weight: 600;
  text-transform: initial;
  font-family: "Raleway", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}
.hero__joinUs > button:hover {
  background-color: #ea2329;
  color: white;
}
.hero__viewMore{
  text-decoration: none;
  margin-left: 20px;
}
.hero__viewMore > button{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border:1px solid #252e39;
  color: #252e39 ;
  background-color: transparent;
  font-weight: 600;
  text-transform: initial;
  font-family: "Raleway", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}