.teamMenber__hedding {
  margin-top: 50px;
  padding-top: 2em;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.teamMenber__hedding > h1 {
  color: #252e39;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
.teamMenber__hedding > P {
  margin-top: 20px;
  color: #252e39;
  font-weight: 600;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}
.teammember__profile1 {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  height: 55vh;
  border: 0px solid #252e39;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}
.teammember__profile1:hover {
  transform: scale(1.015);
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.profile1__image > img {
  height: 25em;
  object-fit: contain;
}
.profile1__text > h1 {
  padding-left: 30px;
  padding-top: 30px;
  color: #252e39;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}
.profile1__text > p {
  padding-left: 30px;
  padding-top: 10px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.profile1__text > h4 {
  padding-left: 30px;
  padding-top: 30px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.profile2 {
  display: flex;
  padding: 30px;
}
.profile__left {
  display: flex;
  padding: 20px;
  /* border: 2px solid #252e39; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
  margin-right: 28px;
}
.profile__left:hover {
  transform: scale(1.015);
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.profile__right {
  display: flex;
  padding: 20px;
  /* border: 2px solid #252e39; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}
.profile__right:hover {
  transform: scale(1.015);
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.profile1__image2 > img {
  height: 45vh;
  object-fit: cover;
  width: 15vw;
}
.profile1__text2 > h1 {
  padding-left: 30px;
  padding-top: 30px;
  color: #252e39;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.profile1__text2 > p {
  padding-left: 30px;
  padding-top: 10px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.profile1__text2 > h4 {
  padding-right: 8px;
  padding-left: 30px;
  padding-top: 20px;
  color: #252e39;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.teamMember__line3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.profile3 {
  /* border: 2px solid #252e39; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
  padding: 20px;
}
.profile3:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.profile3 > img {
  height: 45vh;
  width: 20vw;
  object-fit: cover;
}
.profile3 > h2 {
  text-align: center;
  padding: 10px;
  color: #252e39;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}
.profile3 > p {
  text-align: center;
  padding: 2px;
  color: #252e39;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.teamSocialLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 0.2em 0.5em;
  margin-top: 0.5em;
}

.socialIcon {
  color: blue;
  font-size: 1.2em;
}

.profile2 .teamSocialLinks ,
.profile1__text .teamSocialLinks{
  margin-top: 5em;
}
