.contact__header {
  background-color: #eaeff9;
  height: 100px;
  width: 100%;
}
.team__heading {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  width: 50%;
  height: 140px;
  align-items: center;
  background-color: white;
  margin-top: -45px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}
.team__heading > h1 {
  color: #252e39;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}
.team__subheading {
  margin-top: 100px !important;
  margin: 0 auto;
  width: 60%;
  padding: 5px;
}
.team__subheading > h1 {
  color: #252e39;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}
.team__subheading > p {
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  color: #252e39;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.team__subheading + h2 {
  color: #252e39;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 105px;
}
.team__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.team__carousel {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.work-with-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  text-decoration: none;
}
.work-with-us > button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color: #ea2329;
  border: none;
  color: white;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.team__story {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 80px;
}
.team__story > h1 {
  padding: 40px;
  color: #252e39;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
.team__story > p {
  color: #252e39;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}
.team__hideStory > p {
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 10px;
}
.team__hideStory > h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.show-hide {
  border: none;
  background-color: transparent;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.team__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.banner__left {
  max-width: 50%;
  height: 60vh;
}
.banner__left > img {
  height: 60vh;
  object-fit: contain;
}
.banner__right {
  max-width: 50%;
  height: 60vh;
  background-color: #252e39;
}
.banner__right > h3 {
  padding: 30px;
  color: white;
  font-family: "Raleway", sans-serif;
}
.banner__right > h1 {
  padding: 30px;
  color: white;
  font-family: "Raleway", sans-serif;
}
.banner__right > p {
  padding: 30px;
  margin-top: 40px;
  color: white;
  font-family: "Raleway", sans-serif;
}
.team__line {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #252e39;
  height: 180px;
  width: 3px;
}
.team__journey-text {
  padding: 40px;
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
}
.team__journey-text > h1 {
  color: #252e39;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
.team__journey-text > p {
  margin-top: 20px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}
.team__journey-text > button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color: #ea2329;
  border: none;
  color: white;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  margin-top: 20px;
}
.team__courceValue {
  max-width: 50%;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}
.team__courceValue > h1 {
  color: #252e39;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
.team__courceValue > p {
  margin-top: 20px;
  color: #252e39;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}
.team__courceValue-cards {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left: 190px;
}
.cards__top {
  margin-right: -200px;
}
.card__right {
  height: 55vh;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  padding: 50px;
  background-color: #252e39;
}
.card__right > h1 {
  color: white;
  padding: 20px;
  font-size: 45px;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
}
.card__right > h2 {
  color: white;
  padding: 20px;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}
.card__left {
  height: 30vh;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  padding: 50px;
  background-color: #265a99;
}
.card__left > h1 {
  color: white;
  padding: 20px;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
}
.card__left > h2 {
  color: white;
  padding: 20px;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}
.team__culture {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.culture__right {
  width: 60%;
}
.culture__right > img {
  height: 70vh;
}
.culture__left {
  width: 50%;
  background-color: white;
  margin-right: -88px;
  position: relative;
  padding: 50px;
  height: 30vh;
}
.culture__left > h1 {
  padding-left: 80px;
  color: #252e39;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}
.culture__left > p {
  padding-left: 80px;
  padding-top: 20px;
  color: #252e39;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}
.culture__left > h3 {
  padding-left: 80px;
  padding-top: 20px;
  color: #252e39;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}
