.solution {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.solution > h1 {
  font-size: 46px;
  color: #292f45;
  margin-top: 75px;
  font-weight: 500;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.solution__heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.solution__heading > h3 {
  font-size: 19px;
  color: #292f45;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.solution__heading > p {
  font-size: 16px;
  color: #ea2329;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.solution__card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 270px;
  border-left: 1px solid #292f45;
  margin: 20px;
  padding: 20px;
  margin-top: 100px;
}
.solution__card:first-child {
  border-left: 0px !important;
}
.solution__card:nth-child(4) {
  border-left: 0px !important;
}
.solution__card > h3 {
  margin: 5px 0px 15px;
  font-size: 23px;
  font-weight: 600;
  color: #292f45;
  font-family: "Raleway", sans-serif;
}
.solution__card > p {
  color: #252e25;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
.solution__card > .MuiSvgIcon-root {
  margin-top: 30px;
  color: rgb(234, 111, 102);
  /* color: #ea2329; */
  font-size: 35px;
  margin-bottom: 10px;
}
.solution__seepricing-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
}
.solution__seepricing-btn > button {
  border: none;
  background-color: #ea2329;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.solution__seepricing-btn > button:hover {
  background-color: #292f45;
  transition: all 0.5s ease;
  outline: none;
}
