.team {
  padding: 1em 0;
  font-family: "Raleway", sans-serif;
  color: #292f45;
}
.team__title {
  text-align: center;
  padding: 0.5em 0;
  font-size: 2em;
}

.profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.profile {
  padding: 1em;
  margin: 0.2em 1em;
  text-align: center;
}

.profile__photo {
  width: 10em;
  height: 10em;
  border: 2.5px solid #292f45;
  border-radius: 50%;
}

.profile__name {
  margin: 0.2em auto 0;
  font-size: 1.9em;
}
