.team {
  margin-bottom: 50px;
}
.team > h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  color: #292f45;
}
.team__container {
  display: flex;
  justify-content: space-evenly;
}
.team__profiles {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.team__profiles > img {
  height: 180px;
  object-fit: contain;
  border-radius: 50%;
}
.team__profiles > h3 {
  font-family: "Raleway", sans-serif;
  color: #292f45;
  font-size: 23px;
  padding: 10px;
}
.team__profiles > p {
  font-family: "Raleway", sans-serif;
  color: #292f45;
  font-size: 16px;
  padding: 10px;
}
