.demoMainpage__header {
  background-color: #eaeff9;
  height: 100px;
  width: 100% !important;
}
.demoMainpage__heading {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  width: 50%;
  height: 140px;
  align-items: center;
  background-color: white;
  margin-top: -45px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px 5px;
}
.demoMainpage__heading > h1 {
  color: #252e39;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}
.demoMainpage__headding2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
  padding: 40px;
}
.demoMainpage__headding2 > h1 {
  color: #292f45;
  font-family: "Raleway", sans-serif;
  padding: 30px;
}
.demoMainpage__headding2 > h2 {
  color: #292f45;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.mainpage {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.mainpage__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-top: 100px; */
}
@media (max-width: 720px) {
  .mainpage {
    grid-template-columns: repeat(2, 1fr);
  }
}
