.customer__container {
  margin-top: 30px;
  height: 400px;
  width: 100%;
  object-fit: contain;
  background-color: rgba(41, 47, 69, 0.6);
  margin-bottom: 50px;
}
.customer__container > img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  position: absolute;
  z-index: -1;
  opacity: 0.75;
}
.box__containers {
  display: flex;
  justify-content: space-evenly;
}
.box__container {
  margin-top: 80px;
  height: 220px;
  width: 220px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}
.box__container > .MuiSvgIcon-root {
  margin-top: 50px;
  font-size: 45px;
  color: white;
  font-weight: 900;
}
.box__container > h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 2px;
}
.box__container > h4 {
  color: white;
  font-family: "Raleway", sans-serif;
  padding-top: 5px;
}
